<!DOCTYPE html>
<html lang="de-DE">
  <head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script
      async
      src="https://www.googletagmanager.com/gtag/js?id=UA-180141794-1"
    ></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag() {
        dataLayer.push(arguments);
      }
      gtag("js", new Date());

      gtag("config", "UA-180141794-1");
    </script>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta
      name="description"
      content="Optimiere deinen Tag mithilfe deiner inneren Uhr!"
    />
    <meta
      name="keywords"
      content="Schlaftracking, Produktivität, Chronotyp, Produktivität erhöhen, besser schlafen, tracking, schlafen, besser arbeiten, Forschung schlafen, Wissenschaft Produktivität"
    />
    <meta name="author" content="CodeCamp:N GmbH" />
    <meta name="”robots”" content="unindex, unfollow" />
    <meta property="og:image" content="/images/logo_chrower.png" />

    <meta
      property="og:description"
      content="Optimiere deinen Tag mithilfe deiner inneren Uhr!"
    />
    <meta property="og:title" content="Chrower" />
    <meta name="twitter:title" content="Chrower" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link href="/css/static/main-tailwind.css" rel="stylesheet" />
    <link rel="stylesheet"
    href=https://use.fontawesome.com/releases/v5.6.3/css/all.css
    integrity=sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/
    crossorigin="anonymous">
    <link
      rel="shortcut icon"
      href="/images/chrower-kreis-01.png"
      type="image/png"
    />

    <title>Chrower - Datenschutz</title>
  </head>
  <body class="lg:container lg:mx-auto bg-primary text-white">
    <section class="font-headline">
      <div
        class="bg-hero-pattern bg-cover bg-no-repeat m-auto px-4 flex flex-col lg:pt-10 lg:pb-6 lg:px-8"
      >
        <div class="px-12 pt-6 lg:py-0">
          <a href="/"
            ><img
              src="/images/logo_chrower.png"
              class="h-10"
              alt="chrower_logo"
          /></a>
        </div>
      </div>
      <div class="">
        <img
          src="/images/bogen.png"
          alt="chrower_bogen"
          class="w-full h-auto transform rotate-180"
        />
      </div>
    </section>
    <section class="font-sans m-auto flex flex-col py-8">
      <div class="px-4">
        <label class="text-sm uppercase">Stand: 04.02.2020</label>
        <h1 class="mt-8 mb-1 text-xl md:text-2xl lg:text-3xl font-medium">
          DATENSCHUTZHINWEISE
        </h1>
        <p class="mt-1 lg:mt-4 leading-loose">
          Mit diesen Hinweisen informieren wir dich über die Verarbeitung deiner
          personenbezogenen Daten durch die CodeCamp:N GmbH und die dir nach dem
          Datenschutzrecht zustehenden Rechte. Verantwortliche Stelle im Sinne
          der Datenschutzgesetze, insbesondere der EU-Datenschutzgrundverordnung
          (DSGVO), ist:
        </p>
        <ul class="py-0 my-0">
          <li>CodeCamp:N GmbH</li>
          <li>Kohlenhofstr. 60</li>
          <li>90443 Nürnberg</li>
          <li>
            <a href="mailto:info@codecamp-n.com">info@codecamp-n.com</a>
          </li>
        </ul>
        <h1 class="mt-8 mb-1 text-xl md:text-2xl lg:text-3xl font-medium">
          WIR HABEN FOLGENDEN DATENSCHUTZ-BEAUFTRAGTEN BESTELLT:
        </h1>
        <p class="mt-1 lg:mt-4 leading-loose"></p>
        <ul class="py-0 my-0">
          <li>Herrn Dr.-Ing. Anton Peuser</li>
          <li>SPIE Data Protection GmbH</li>
          <li>Lyoner Straße 9</li>
          <li>60528 Frankfurt am Main</li>
          <li><a href="tel:0049696696920">Telefon: +49 69 6649 – 6920</a></li>
          <li>
            <a href="mailto:anton.peuser@spie.com">anton.peuser@spie.com</a>
          </li>
        </ul>
        <h1 class="mt-8 mb-1 text-xl md:text-2xl lg:text-3xl font-medium">
          DEINE BETROFFENENRECHTE
        </h1>
        <p class="mt-1 lg:mt-4 leading-loose">
          Du kannst unter der E-Mail-Adresse
          <a class="underline" href="mailto:chrower@cc-n.io">chrower@cc-n.io</a>
          Auskunft über die zu deiner Person gespeicherten Daten verlangen.
          Darüber hinaus kannst du unter bestimmten Voraussetzungen die
          Berichtigung oder die Löschung deiner Daten verlangen. Dir kann
          weiterhin ein Recht auf Einschränkung der Verarbeitung deiner Daten
          sowie ein Recht auf Herausgabe der von dir bereitgestellten Daten in
          einem strukturierten, gängigen und maschinenlesbaren Format zustehen.
        </p>

        <h1 class="mt-8 mb-1 text-xl md:text-2xl lg:text-3xl font-medium">
          BESCHWERDERECHT
        </h1>
        <p class="mt-1 lg:mt-4 leading-loose">
          Du hast die Möglichkeit, dich mit einer Beschwerde an den o. g.
          Datenschutzbeauftragten oder an eine Datenschutzaufsichtsbehörde zu
          wenden. Die für uns zuständige Datenschutzaufsichtsbehörde ist:
        </p>
        <ul class="py-0 my-0">
          <li class="font-bold">Aufsichtsbehörde</li>
          <li>Bayerisches Landesamt für Datenschutzaufsicht</li>
          <li>Promenade 18, 91522 Ansbach</li>
          <li>Postanschrift: Postfach 606, 91511 Ansbach</li>
          <li><a href="tel:0981180093">Telefon: 0981/180093-0</a></li>
          <li>Telefax: 0981/180093-99</li>
          <li>
            <a href="mailto:poststelle@lda.bayern.de"
              >E-Mail: poststelle@lda.bayern.de</a
            >
          </li>
          <li>
            Homepage:
            <a href="https://lda.bayern.de" target="blank"
              >https://lda.bayern.de</a
            >
          </li>
        </ul>
        <h1 class="mt-8 mb-1 text-xl md:text-2xl lg:text-3xl font-medium">
          WIDERSPRUCHSRECHT
        </h1>
        <p class="mt-1 lg:mt-4 leading-loose mb-6">
          Du hast das Recht, einer Verarbeitung deiner personenbezogenen Daten
          zu Zwecken der Direktwerbung zu widersprechen. Verarbeiten wir deine
          Daten zur Wahrung berechtigter Interessen, kannst du dieser
          Verarbeitung widersprechen, wenn sich aus deiner besonderen Situation
          Gründe ergeben, die gegen die Datenverarbeitung sprechen.
        </p>
        <h1 class="mt-8 mb-1 text-xl md:text-2xl lg:text-3xl font-medium">
          RECHT AUF DATEN-ÜBERTRAGBARKEIT
        </h1>
        <p class="mt-1 lg:mt-4 leading-loose mb-6">
          Dir steht das Recht zu, Daten, die wir auf Grundlage deiner
          Einwilligung oder in Erfüllung eines Vertrags automatisiert
          verarbeiten, an dich oder an Dritte aushändigen zu lassen. Die
          Bereitstellung erfolgt in einem maschinenlesbaren Format. Sofern du
          die direkte Übertragung der Daten an einen anderen Verantwortlichen
          verlangst, erfolgt dies nur, soweit es technisch machbar ist.
        </p>
        <h1 class="mt-8 mb-1 text-xl md:text-2xl lg:text-3xl font-medium">
          ZWECKE DER DATENVERARBEITUNG DURCH DIE VERANTWORTLICHE STELLE UND
          DRITTE
        </h1>
        <p class="mt-1 lg:mt-4 leading-loose mb-2">
          Wir verarbeiten deine personenbezogenen Daten unter Beachtung der
          EU-Datenschutz-Grundverordnung (DS-GVO).
        </p>
        <p class="mt-1 lg:mt-4 leading-loose">
          Wir verarbeiten deine personenbezogenen Daten nur zu den in dieser
          Datenschutzerklärung genannten Zwecken. Eine Übermittlung deiner
          persönlichen Daten an Dritte zu anderen als den genannten Zwecken
          findet nicht statt. Wir geben deine persönlichen Daten nur an Dritte
          weiter, wenn:
        </p>
        <ul class="py-0 my-0 list-disc list-inside">
          <li>
            <spa> Du deine ausdrückliche Einwilligung dazu erteilt hast.</spa>
          </li>
          <li>
            Die Verarbeitung zur Abwicklung eines Vertrags mit dir erforderlich
            ist.
          </li>
          <li>
            Die Verarbeitung zur Erfüllung einer rechtlichen Verpflichtung
            erforderlich ist.
          </li>
          <li>
            Die Verarbeitung zur Wahrung berechtigter Interessen erforderlich
            ist und kein Grund zur Annahme besteht, dass du ein überwiegendes
            schutzwürdiges Interesse an der Nichtweitergabe deiner Daten hast.
          </li>
        </ul>
        <h1 class="mt-8 mb-1 text-xl md:text-2xl lg:text-3xl font-medium">
          AMAZON WEB SERVICES
        </h1>
        <p class="mt-1 lg:mt-4 leading-loose mb-2">
          Wir hosten unsere Systeme bei Amazon Web Services, Inc., 410 Terry
          Avenue North, Seattle WA 98109, USA („AWS“) ein. Die Systeme werden in
          der EU Region Irland des AWS Netzwerks gehostet.
        </p>
        <p class="mt-1 lg:mt-4 leading-loose mb-2">
          Entsprechend Art. 28 DS-GVO haben wir einen
          Auftragsdatenverarbeitungsvertrag (Data-Processing-Agreement) mit
          Amazon Web Services abgeschlossen. Dabei handelt es sich um einen
          Vertrag, in dem sich AWS unter anderem dazu verpflichtet, die Daten
          der Nutzer zu schützen, entsprechend den festgehaltenen
          Datenschutzbestimmungen im Auftrag von uns zu verarbeiten und
          insbesondere nicht an Dritte weiter zu geben.
        </p>
        <p class="mt-1 lg:mt-4 leading-loose mb-6">
          Nähere Informationen hierzu findest du in <a
            href="https://aws.amazon.com/de/privacy/?nc1=f_pr"
            target="blank"
            class="underline"
            >der Datenschutzerklärung von AWS.</a
          >
        </p>
        <h1 class="mt-8 mb-1 text-xl md:text-2xl lg:text-3xl font-medium">
          RECHT AUF LÖSCHUNG UND EINSCHRÄNKUNG DER VERARBEITUNG DER DATEN
        </h1>
        <p class="mt-1 lg:mt-4 leading-loose mb-2">
          Du hast das Recht, von dem Verantwortlichen zu verlangen, dass die
          dich betreffenden personenbezogenen Daten unverzüglich gelöscht
          werden.
        </p>
        <p class="mt-1 lg:mt-4 leading-loose mb-6">
          Wir halten uns an die Grundsätze der Datenvermeidung und
          Datensparsamkeit. Wir speichern deine personenbezogenen Daten daher
          nur so lange, wie dies zur Erreichung der hier genannten Zwecke
          erforderlich ist oder wie es die vom Gesetzgeber vorgesehenen
          vielfältigen Speicherfristen vorsehen. Nach Fortfall des jeweiligen
          Zweckes bzw. Ablauf dieser Fristen werden die entsprechenden Daten
          routinemäßig und entsprechend den gesetzlichen Vorschriften gesperrt
          oder gelöscht. Dir steht es frei, die bei der Registrierung
          angegebenen Daten jederzeit vollständig aus der Datenbank der
          Newsletter2Go GmbH löschen zu lassen
        </p>
        <h1 class="mt-8 mb-1 text-xl md:text-2xl lg:text-3xl font-medium">
          SSL-VERSCHLÜSSELUNG
        </h1>
        <p class="mt-1 lg:mt-4 leading-loose mb-6">
          Um die Sicherheit deiner Daten bei der Übertragung zu schützen,
          verwenden wir dem aktuellen Stand der Technik entsprechende
          Verschlüsselungsverfahren (z. B. SSL) über HTTPS.
        </p>
        <h1 class="mt-8 mb-1 text-xl md:text-2xl lg:text-3xl font-medium">
          KONTAKTFORMULAR
        </h1>
        <p class="mt-1 lg:mt-4 leading-loose mb-6">
          Trittst du bzgl. Fragen jeglicher Art per E-Mail oder Kontaktformular
          mit uns in Kontakt, erteilst du uns zum Zwecke der Kontaktaufnahme
          deine freiwillige Einwilligung. Hierfür ist die Angabe einer validen
          E-Mail-Adresse erforderlich. Diese dient der Zuordnung der Anfrage und
          der anschließenden Beantwortung derselben. Die Angabe weiterer Daten
          ist optional. Die von dir gemachten Angaben werden zum Zwecke der
          Bearbeitung der Anfrage sowie für mögliche Anschlussfragen
          gespeichert. Nach Erledigung der von dir gestellten Anfrage werden
          personenbezogene Daten automatisch gelöscht.
        </p>
        <h1 class="mt-8 mb-1 text-xl md:text-2xl lg:text-3xl font-medium">
          VERWENDUNG VON GOOGLE ANALYTICS
        </h1>
        <p class="mt-1 lg:mt-4 leading-loose mb-2">
          Unsere Website benutzt Google Analytics, einen Webanalysedienst der
          Google Inc. (folgend: Google). Google Analytics verwendet sog.
          „Cookies", also Textdateien, die auf deinem Computer gespeichert
          werden und die eine Analyse der Benutzung der Webseite durch dich
          ermöglichen.
        </p>
        <p class="mt-1 lg:mt-4 leading-loose mb-2">
          Die durch das Cookie erzeugten Informationen über deine Benutzung
          dieser Webseite werden an einen Server von Google in den USA
          übertragen und dort gespeichert. Aufgrund der Aktivierung der
          IP-Anonymisierung auf diesen Webseiten, wird deine IP-Adresse von
          Google jedoch innerhalb von Mitgliedstaaten der Europäischen Union
          oder in anderen Vertragsstaaten des Abkommens über den Europäischen
          Wirtschaftsraum zuvor gekürzt. Nur in Ausnahmefällen wird die volle
          IP-Adresse an einen Server von Google in den USA übertragen und dort
          gekürzt. Im Auftrag des Betreibers dieser Website wird Google diese
          Informationen benutzen, um deine Nutzung der Webseite auszuwerten, um
          Reports über die Webseitenaktivitäten zusammenzustellen und um weitere
          mit der Websitenutzung und der Internetnutzung verbundene
          Dienstleistungen gegenüber dem Webseitenbetreiber zu erbringen. Die im
          Rahmen von Google Analytics von deinem Browser übermittelte IP-Adresse
          wird nicht mit anderen Daten von Google zusammengeführt.
        </p>
        <p class="mt-1 lg:mt-4 leading-loose mb-2">
          Die Zwecke der Datenverarbeitung liegen in der Auswertung der Nutzung
          der Website und in der Zusammenstellung von Reports über Aktivitäten
          auf der Website. Auf Grundlage der Nutzung der Website und des
          Internets sollen dann weitere verbundene Dienstleistungen erbracht
          werden. Die Verarbeitung beruht auf dem berechtigten Interesse des
          Webseitenbetreibers.
        </p>
        <p class="mt-1 lg:mt-4 leading-loose mb-2">
          Auch hier haben wir entsprechend Art. 28 DS-GVO einen
          Auftragsdatenverarbeitungsvertrag (Data-Processing-Agreement) mit
          Google Inc. abgeschlossen. Dabei handelt es sich um einen Vertrag, in
          dem sich Google unter anderem dazu verpflichtet, die Daten der Nutzer
          zu schützen, entsprechend den festgehaltenen Datenschutzbestimmungen
          im Auftrag von uns zu verarbeiten und insbesondere nicht an Dritte
          weiter zu geben.
        </p>
        <p class="mt-1 lg:mt-4 leading-loose mb-6">
          Du kannst die Speicherung der Cookies durch eine entsprechende
          Einstellung deiner Browser-Software verhindern; wir weisen dich jedoch
          darauf hin, dass du in diesem Fall gegebenenfalls nicht sämtliche
          Funktionen dieser Website vollumfänglich nutzen werden kannst. Du
          kannst darüber hinaus die Erfassung der durch das Cookie erzeugten und
          auf deine Nutzung der Webseite bezogenen Daten (inkl. deiner
          IP-Adresse) an Google sowie die Verarbeitung dieser Daten durch Google
          verhindern, indem du das unter dem folgenden Link verfügbare
          Browser-Plugin herunterlädst und installierst: <a
            href="https://tools.google.com/dlpage/gaoptout?hl=de"
            targe="blank"
            class="underline"
            >Browser Add On zur Deaktivierung von Google Analytics</a
          >.
        </p>
        <h1 class="mt-8 mb-1 text-xl md:text-2xl lg:text-3xl font-medium">
          NUTZUNG VON FACEBOOK REMARKETING
        </h1>
        <p class="mt-1 lg:mt-4 leading-loose mb-2">
          Diese Website benutzt den Google Tag Manager. Google Tag Manager ist
          eine Lösung, mit der Vermarkter Website-Tags über eine Oberfläche
          verwalten können. Das Tool Tag Manager selbst (das die Tags
          implementiert) ist eine Cookie-lose Domain und erfasst keine
          personenbezogenen Daten. Das Tool sorgt für die Auslösung anderer
          Tags, die ihrerseits unter Umständen Daten erfassen. Google Tag
          Manager greift nicht auf diese Daten zu. Wenn auf Domain- oder
          Cookie-Ebene eine Deaktivierung vorgenommen wurde, bleibt diese für
          alle Tracking-Tags bestehen, die mit Google Tag Manager implementiert
          werden.
        </p>
        <p class="mt-1 lg:mt-4 leading-loose mb-2">
          Wir verwenden außerdem die Remarketing-Funktion von Google. Dadurch
          können wir dir auf geeigneten Werbeplätzen auf anderen Websites
          personalisierte Werbung ausspielen, die darauf basiert, welche
          Interessen du auf unserer Website gezeigt hast.
        </p>
        <p class="mt-1 lg:mt-4 leading-loose mb-2">
          Weitere Informationen dazu findest du in der <a
            href="https://policies.google.com/technologies/ads?hl=de"
            tager="blank"
            class="underline"
            >Datenschutzerklärung von Google</a
          >. Du kannst interessenbasierte Werbung durch die Installation <a
            href="https://support.google.com/ads/answer/7395996"
            target="blank"
            class="underline"
            >dieses</a
          > Browser-Plugins unterbinden.
        </p>
        <p class="mt-1 lg:mt-4 leading-loose mb-6">
          Diese Website verwendet die Remarketing-Funktion „Custom Audiences“
          der Facebook Inc. („Facebook“). Diese Funktion dient dazu, Besuchern
          dieser Webseite im Rahmen des Besuchs des sozialen Netzwerkes Facebook
          interessenbezogene Werbeanzeigen („Facebook-Ads“) zu präsentieren.
          Hierzu wurde auf dieser Website das Remarketing-Tag von Facebook
          implementiert. Über dieses Tag wird beim Besuch der Webseite eine
          direkte Verbindung zu den Facebook-Servern hergestellt. Dabei wird an
          den Facebook-Server übermittelt, dass du diese Website besucht hast
          und Facebook ordnet diese Information deinem persönlichen
          Facebook-Benutzerkonto zu. Nähere Informationen zur Erhebung und
          Nutzung der Daten durch Facebook sowie über deine diesbezüglichen
          Rechte und Möglichkeiten zum Schutz deiner Privatsphäre findest du in
          den Datenschutzhinweisen von Facebook unter <a
            href="https://www.facebook.com/about/privacy/"
            target="blank"
            class="underline"
            >https://www.facebook.com/about/privacy/</a
          >. Alternativ können Sie die Remarketing-Funktion „Custom Audiences“
          unter <a
            href="https://www.facebook.com/settings/?tab=ads#_=_ deaktivieren"
            target="blank"
            class="underline"
            >https://www.facebook.com/settings/?tab=ads#_=_ deaktivieren</a
          >. Hierfür musst du bei Facebook angemeldet sein.
        </p>
        <h1 class="mt-8 mb-1 text-xl md:text-2xl lg:text-3xl font-medium">
          EINWILLIGUNGS-ERKLÄRUNG ZUR MESSUNG VON KONVERSIONEN MIT DEM PIXEL VON
          FACEBOOK
        </h1>
        <p class="mt-1 lg:mt-4 leading-loose mb-2">
          Zusammenfassend: Zur Messung von Konversionen mit dem Pixels von
          Facebook:
        </p>
        <p class="mt-1 lg:mt-4 leading-loose mb-2">
          Der Pixel ist ein Dienst von Facebook Inc., 1601 S. California Ave.,
          Palo Alto, CA 94304, USA. Dieser ermöglicht die Nachverfolgung des
          Verhaltens von Nutzern nach Anklicken einer Facebook-Werbeanzeige und
          Weiterleitung auf die Webseite des werbenden bzw. beworbenen
          Unternehmens. Der Pixel erlaubt die Messung, Auswertung und
          Optimierung der Wirksamkeit von Facebook-Werbeanzeigen für
          statistische Zwecke und Zwecke der Marktforschung. Die auf unserer
          Webseite durch das Pixel erhobenen Daten, ermöglichen uns keinerlei
          Rückschlüsse auf die Person des Nutzers. Die erhobenen Daten (z.B. die
          IP-Adresse des Nutzers) werden durch das Pixel an Facebook
          übermittelt. Diese werden von Facebook zum Zweck der
          Konversionsmessung gespeichert und verarbeitet. Wir erhalten von
          Facebook Reports in anonymisierter Form. Mit diesem Report kann man
          ebenfalls keine Rückschlüsse auf die Person beziehen. Es kann jedoch
          nicht ausgeschlossen werden, dass bei Facebook eine Verknüpfung
          zwischen den übermittelten Daten mit anderen personenbezogenen Daten
          zur Person des Nutzers (z.B. Nutzerdaten zu einem bestehenden
          Facebook-Account) erfolgt oder Facebook entsprechende Daten ggf. für
          eigene weitergehende Zwecke verwendet.
        </p>
        <p class="mt-1 lg:mt-4 leading-loose mb-2">
          Weitere Hinweise zur Verwendung der erhobenen Daten durch Facebook
          entnimmst du bitte den entsprechenden Hinweisen von Facebook, z.B.
          unter <a
            href="https://www.facebook.com/about/privacy/"
            class="underline"
            target="blank"
            >https://www.facebook.com/about/privacy/</a
          >
        </p>
        <p class="mt-1 lg:mt-4 leading-loose mb-2">
          Facebook sowie dessen Partner ermöglichen das Schalten von
          Werbeanzeigen auf den Webseiten von Facebook sowie auf Drittseiten. Zu
          Zwecken der Nutzung des Pixels sowie der Nachverfolgung entsprechender
          Aktivitäten kann zu diesen Zwecken ein Cookie auf dem Rechner des
          Nutzers gespeichert werden.
        </p>
        <p class="mt-1 lg:mt-4 leading-loose mb-2">
          Mit Bestätigung des OK-Buttons im entsprechenden Banner der Webseite
          erklärst du dich mit dem Einsatz der Konversionsmessung mit dem Pixel
          von Facebook einverstanden und gibst soweit folgende
          Einwilligungserklärung ab:
        </p>
        <p class="mt-1 lg:mt-4 leading-loose mb-2">
          „Ich bin mit dem Einsatz des zuvor in dieser Ziffer beschriebenen
          Pixels von Facebook, einem Dienst der Facebook Inc., 1601 S.
          California Ave., Palo Alto, CA 94304, USA, zum Zweck der beschriebenen
          Konversionsmessung auf der Website codecamp-n.com einverstanden.“
        </p>
        <p class="mt-1 lg:mt-4 leading-loose mb-2">
          Die Einwilligung in den Einsatz des Pixels darf nur von Nutzern
          erteilt werden, die älter als 13 Jahre sind.
        </p>
        <p class="mt-1 lg:mt-4 leading-loose mb-2">
          Du erklärst hiermit, insoweit zur eigenständigen Abgabe der
          Einwilligungserklärung berechtigt zu sein oder, dass du deine
          Erziehungsberechtigten vor Abgabe der Willenserklärung um Erlaubnis
          gefragt hast und diese die Einwilligung entsprechend erlaubt haben.
        </p>
        <p class="mt-1 lg:mt-4 leading-loose mb-2">
          Du kannst die Einwilligung zum Einsatzes Pixels jederzeit widerrufen.
          Bitte klicke hierzu auf den nachfolgenden Link: <a
            href="https://www.facebook.com/ads/website_custom_audiences/"
            target="blank"
            class="underline"
            >https://www.facebook.com/ads/website_custom_audiences/</a
          >
        </p>
        <p class="mt-1 lg:mt-4 leading-loose mb-6">
          Diese Datenschutzerklärung inklusive der vorstehenden
          Einwilligungserklärung ist dauerhaft über diese Webseite abrufbar und
          zugänglich. Die Erhebung, Verarbeitung und Nutzung personenbezogener
          Daten auf der Basis gesonderter Einwilligungserklärungen oder
          gesetzlicher Erlaubnisse bleibt von der vorstehenden Einwilligung
          unberührt.
        </p>
        <h1 class="mt-8 mb-1 text-xl md:text-2xl lg:text-3xl font-medium">
          VERWENDUNG VON SCRIPTBIBLIOTHEKEN (GOOGLE WEBFONTS)
        </h1>
        <p class="mt-1 lg:mt-4 leading-loose mb-2">
          Um die Inhalte browserübergreifend korrekt und grafisch ansprechend
          darzustellen, verwenden wir auf dieser Website Scriptbibliotheken und
          Schriftbibliotheken wie z. B. Google Webfont (<a
            href="https://www.google.com/webfonts/"
            target="blank"
            class="underline"
            >https://www.google.com/webfonts/</a
          >). Google Webfonts werden zur Vermeidung mehrfachen Ladens in den
          Cache deines Browsers übertragen. Falls dein Browser Google Webfonts
          nicht unterstützt oder den Zugriff unterbindet, werden Inhalte in
          einer Standardschrift angezeigt.
        </p>
        <p class="mt-1 lg:mt-4 leading-loose mb-2">
          Der Aufruf von Scriptbibliotheken oder Schriftbibliotheken löst
          automatisch eine Verbindung zum Betreiber der Bibliothek aus. Dabei
          ist es theoretisch möglich, dass Betreiber entsprechender Bibliotheken
          Daten erheben.
        </p>
        <p class="mt-1 lg:mt-4 leading-loose mb-6">
          Die Datenschutzrichtlinie des Bibliothekbetreibers Google findest du
          hier: <a
            href="https://www.google.com/policies/privacy/"
            target="blank"
            class="underline"
            >https://www.google.com/policies/privacy/</a
          >.
        </p>
        <h1 class="mt-8 mb-1 text-xl md:text-2xl lg:text-3xl font-medium">
          ÄNDERUNG UNSERER DATENSCHUTZ-BESTIMMUNGEN
        </h1>
        <p class="mt-1 lg:mt-4 leading-loose mb-6">
          Wir behalten uns vor, diese Datenschutzhinweise anzupassen, damit sie
          stets den aktuellen rechtlichen Anforderungen entsprechen oder um
          Änderungen der Leistungen der CodeCamp:N GmbH in den
          Datenschutzhinweisen umzusetzen, z.B. bei der Einführung neuer
          Services. Für deinen erneuten Besuch gelten dann die neuen
          Datenschutzhinweise.
        </p>
        <h1 class="mt-8 mb-1 text-xl md:text-2xl lg:text-3xl font-medium">
          FRAGEN AN DEN DATENSCHUTZ-BEAUFTRAGTEN
        </h1>
        <p class="mt-1 lg:mt-4 leading-loose mb-6">
          Wenn du Fragen zum Datenschutz hast, schreibe uns bitte eine E-Mail an
          <a href="info@codecamp-n.com" class="underline"
            >info@codecamp-n.com</a
          >
          oder wende dich direkt an den von der CodeCamp:N bestellten
          Datenschutzbeauftragten.
        </p>
      </div>
      <div class="">
        <img
          src="/images/bogen.png"
          alt="chrower_bogen"
          class="w-full h-auto"
        />
      </div>
    </section>
    <footer class="font-headline bg-transparent text-white pb-8 pt-2 px-4">
      <div
        class="mx-auto max-w-xl overflow-hidden flex justify-between items-center"
      >
        <ul
          class="text-sm text-gray-700 list-none w-full p-0 flex flex-col md:flex-row items-center justify-center"
        >
          <li>
            <a
              href="https://codecamp-n.com/"
              class="inline-block py-2 px-3 text-gray-500 hover:text-gray-400 no-underline"
              >© CodeCamp:N GmbH</a
            >
          </li>
          <li>
            <a
              href="/impressum/"
              class="inline-block py-2 px-3 text-gray-500 hover:text-gray-400 no-underline"
              >Impressum</a
            >
          </li>
          <li>
            <a
              href="/datenschutz/"
              class="inline-block py-2 px-3 text-gray-500 hover:text-gray-400 no-underline"
              >Privacy Policy</a
            >
          </li>
        </ul>
      </div>
    </footer>
  </body>
</html>
