<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link href="/css/static/main-tailwind.css" rel="stylesheet" />
    <link rel="stylesheet"
    href=https://use.fontawesome.com/releases/v5.6.3/css/all.css
    integrity=sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/
    crossorigin="anonymous">
    <link rel="icon" type="image/png" href="/images/chrower-kreis-01.png" />
    <title>Chrower</title>
  </head>
  <body class="lg:container lg:mx-auto bg-primary text-white">
    <section class="font-headline">
      <div
        class="bg-hero-pattern bg-cover bg-no-repeat m-auto px-4 flex flex-col lg:pt-10 lg:pb-6 lg:px-8"
      >
        <div class="px-12 pt-6 lg:py-0">
          <a href="/"
            ><img
              src="/images/logo_chrower.png"
              class="h-10"
              alt="chrower_logo"
          /></a>
        </div>
      </div>
      <div class="">
        <img
          src="/images/bogen.png"
          alt="chrower_bogen"
          class="w-full h-auto transform rotate-180"
        />
      </div>
    </section>
    <section class="font-sans m-auto flex flex-col py-8 px-4">
      <div>
        <label class="text-sm uppercase">Aktueller Stand: 19.05.2018</label>
        <h1 class="mt-8 mb-1 text-xl md:text-2xl lg:text-3xl font-medium">
          FIRMENDETAILS
        </h1>
        <p class="mt-1 lg:mt-4 leading-loose"></p>
        <ul class="py-0 my-0">
          <li>CodeCamp:N GmbH</li>
          <li>Kohlenhofstr. 60</li>
          <li>90443 Nürnberg</li>
          <li>
            <a href="mailto:info@codecamp-n.com">info@codecamp-n.com</a>
          </li>
          <li>
            Tel.: <a href="tel:00499112744523">+49 (0)911 / 27 44 85 23</a>
          </li>
        </ul>
        <h1 class="mt-8 mb-1 text-xl md:text-2xl lg:text-3xl font-medium">
          GESCHÄFTSFÜHRER
        </h1>
        <p class="mt-1 lg:mt-4 leading-loose"></p>
        <ul class="py-0 my-0">
          <li>Martin Pluschke (Vorsitzender)</li>
          <li>Rene Frischeisen</li>
        </ul>

        <h1 class="mt-8 mb-1 text-xl md:text-2xl lg:text-3xl font-medium">
          HANDELSREGISTER
        </h1>
        <p class="mt-1 lg:mt-4 leading-loose"></p>
        <ul class="py-0 my-0">
          <li>Registernummer: HRB 34360</li>
          <li>Registergericht: Amtsgericht Nürnberg</li>
          <li>Umsatzsteuer-ID: DE133500778</li>
        </ul>

        <h1 class="mt-8 mb-1 text-xl md:text-2xl lg:text-3xl font-medium">
          RECHTLICHE HINWEISE
        </h1>
        <p class="mt-1 lg:mt-4 leading-loose mb-6">
          Die Inhalte auf dieser Internetseite, der Hauptseite sowie allen
          Unterseiten werden sorgfältig erarbeitet und laufend gepflegt. Die
          CodeCamp:N GmbH ist dabei bemüht gemäß § 7 Abs. 1 Telemediengesetz
          (TMG) diese Inhalte vollständig und aktuell zu halten.
          Nichtsdestotrotz können fehlerhafte Inhalte enthalten sein, weshalb
          die CodeCamp:N GmbH keine Gewähr nach §§ 8 bis 10 TMG für
          Vollständigkeit, Aktualität und Richtigkeit der Inhalte übernimmt. Die
          Inhalte sollen nur der allgemeinen Information dienen und sind
          deswegen bewusst allgemein formuliert und stellen keine Beratung des
          Nutzers für den Einzelfall dar und können keine Einzelfallberatung
          ersetzen. Die CodeCamp:N GmbH haftet nicht für Schäden, die daraus
          resultieren, dass auf die Vollständigkeit, Aktualität und Richtigkeit
          der Inhalte dieser Internetseite vertraut wurde. Es sei denn der
          Schaden resultiert aus vorsätzlicher oder grob fahrlässiger
          Falschinformation. Diesbezüglich ist eine Haftung jedoch erst ab dem
          Zeitpunkt der Kenntnis einer konkreten Rechtsverletzung möglich. Bei
          Bekanntwerden von entsprechenden Rechtsverletzungen werden wir diese
          Inhalte umgehend entfernen. Die CodeCamp:N GmbH behält sich das Recht
          vor, jederzeit Änderungen, Ergänzungen oder Löschungen der Inhalte
          dieser Internetseite vorzunehmen.
        </p>
        <h1 class="mt-8 mb-1 text-xl md:text-2xl lg:text-3xl font-medium">
          HYPERLINKS UND VERWEISE AUF INTERNETSEITEN DRITTER
        </h1>
        <p class="mt-1 lg:mt-4 leading-loose mb-6">
          Wenn Du Internetseiten Dritter aufrufst, verlässt Du insoweit die
          Internetseite der CodeCamp:N GmbH. Die CodeCamp:N GmbH ist für den
          Inhalt von Internetseiten Dritter nicht verantwortlich. Die CodeCamp:N
          GmbH haftet nicht für den Inhalt von Internetseiten Dritter. Die
          CodeCamp:N GmbH übernimmt keine weitere Haftung für die
          Vollständigkeit, Aktualität oder Richtigkeit von Internetseiten
          Dritter, soweit hierauf mit einem Hyperlink oder sonstigem Verweis
          referenziert wird. Die CodeCamp:N GmbH macht sich die Inhalte der
          Internetseite Dritter nicht zu Eigen. Bei der erstmaligen Verknüpfung
          haben wir den fremden Inhalt genauestens überprüft. Jedoch trifft uns
          keine Verpflichtung zur laufenden Überprüfung auf Veränderung der
          Inhalte, auf die wir verweisen. Stellen wir jedoch fest, dass ein
          Inhalt einer fremden Seite, die wir verknüpft haben, eine zivil- oder
          strafrechtliche Verantwortlichkeit auslöst, werden wir den Link auf
          diese Seite aufheben, soweit uns dies möglich und zumutbar ist. Gerne
          nehmen wir Hinweise an, dass ein solcher Fall vorliegen könnte.
        </p>
        <p>Deine CodeCamp:N GmbH</p>
      </div>
      <div class="">
        <img
          src="/images/bogen.png"
          alt="chrower_bogen"
          class="w-full h-auto"
        />
      </div>
    </section>
    <footer class="font-headline bg-transparent text-white pb-8 pt-2 px-4">
      <div
        class="mx-auto max-w-xl overflow-hidden flex justify-between items-center"
      >
        <ul
          class="text-sm text-gray-700 list-none w-full p-0 flex items-center justify-center"
        >
          <li>
            <a
              href="https://codecamp-n.com/"
              class="inline-block py-2 px-3 text-gray-500 hover:text-gray-400 no-underline"
              >© CodeCamp:N GmbH</a
            >
          </li>
          <li>
            <a
              href="/impressum/"
              class="inline-block py-2 px-3 text-gray-500 hover:text-gray-400 no-underline"
              >Impressum</a
            >
          </li>
          <li>
            <a
              href="/datenschutz/"
              class="inline-block py-2 px-3 text-gray-500 hover:text-gray-400 no-underline"
              >Privacy Policy</a
            >
          </li>
        </ul>
      </div>
    </footer>
  </body>
</html>
