<!DOCTYPE html>
<html lang="de-DE">
  <head>

    <!-- Cookie-Banner -->
    <script id="Cookiebot" 
    src="https://consent.cookiebot.com/uc.js"
    data-cbid="ca18b0fb-30e6-42ed-9430-74f5e7d0403e"
    data-blockingmode="auto"
    type="text/javascript"
    defer>
  </script>

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script
      async
      src="https://www.googletagmanager.com/gtag/js?id=UA-180141794-1"
    ></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag() {
        dataLayer.push(arguments);
      }
      gtag("js", new Date());

      gtag("config", "UA-180141794-1");
    </script>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta
      name="description"
      content="Optimiere deinen Tag mithilfe deiner inneren Uhr!"
    />
    <meta
      name="keywords"
      content="Schlaftracking, Produktivität, Chronotyp, Produktivität erhöhen, besser schlafen, tracking, schlafen, besser arbeiten, Forschung schlafen, Wissenschaft Produktivität"
    />
    <meta name="author" content="CodeCamp:N GmbH" />
    <meta name="”robots”" content="index, follow" />
    <meta property="og:image" content="/images/logo_chrower.png" />
    <meta
      property="og:description"
      content="Optimiere deinen Tag mithilfe deiner inneren Uhr!"
    />
    <meta property="og:title" content="Chrower" />
    <meta name="twitter:title" content="Chrower" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link href="/css/static/main-tailwind.css" rel="stylesheet" />
    <link rel="stylesheet"
    href=https://use.fontawesome.com/releases/v5.6.3/css/all.css
    integrity=sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/
    crossorigin="anonymous">
    <link
      rel="shortcut icon"
      href="/images/chrower-kreis-01.png"
      type="image/png"
    />

    <title>Chrower</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  </head>
  <body class="lg:container lg:mx-auto bg-primary">
    <section class="font-headline">
      <div
        class="bg-hero-pattern bg-cover bg-no-repeat m-auto px-4 flex flex-col lg:pt-10 lg:pb-6 lg:px-8"
      >
        <div class="px-12 pt-6 lg:py-0">
          <a href="/"
            ><img
              src="/images/logo_chrower.png"
              class="h-10"
              alt="chrower_logo"
          /></a>
        </div>
        <div class="flex flex-col-reverse md:flex-row">
          <div class="w-full lg:w-1/3 lg:py-6 h-auto">
            <img
              src="/images/device.png"
              alt="chrower_landing_photo"
              class="w-full h-auto"
            />
          </div>
          <div
            class="flex flex-col w-full lg:w-2/3 justify-center items-start px-12 md:pt-20 pt-8 lg:py-8"
          >
            <h1 class="my-4 size-headline text-white text-headline">
              Optimiere deinen Tag mithilfe deiner inneren Uhr!
            </h1>
            <hr class="border-0 bg-dividercolor my-8 h-2 w-64" />
            <p
              class="leading-normal size-sub-headline mb-4 text-white text-article-headline"
            >
            Ermittle deinen Chronotyp und organisiere deinen Tag anhand deiner individuellen Leistungskurve.
            </p>
            <button
              onclick="scrollToBottom()"
              class="bg-green-800 text-white font-semibold hover:text-white py-2 px-4 border rounded-md border-transparent shadow-2xl"
            >
              Mehr Infos
            </button>
          </div>
        </div>
      </div>
      <section class="font-sans container m-auto text-center py-8">
        <label
          for="tagline"
          class="uppercase tracking-wide font-bold text-white"
          >deine Vorteile</label
        >
        <hr class="border-0 mx-auto bg-dividercolor mt-2 m-4 h-1 w-32" />
        <div class="flex flex-wrap justify-between items-start">
          <div
            class="w-full sm:w-1/2 md:w-1/3 flex flex-col items-center justify-center p-4"
          >
            <div class="w-12 h-12 rounded-full bg-transparent" alt="">
              <img src="/images/vorteil01.png" alt="c" class="w-full h-auto" />
            </div>
            <h2 class="my-4 text-white font-medium">
              Verbesserung deiner Gesundheit
            </h2>
          </div>
          <div
            class="w-full sm:w-1/2 md:w-1/3 flex flex-col items-center justify-center p-4"
          >
            <div class="w-12 h-12 rounded-full bg-transparent" alt="">
              <img
                src="/images/vorteil02.png"
                alt="chrower_vorteil"
                class="w-full h-auto"
              />
            </div>
            <h2 class="my-4 text-white font-medium">
              Bestimmung deines Chronotyps
            </h2>
          </div>
          <div
            class="w-full sm:w-1/2 md:w-1/3 flex flex-col items-center justify-center p-4"
          >
            <div class="w-12 h-12 rounded-full bg-transparent" alt="">
              <img
                src="/images/vorteil03.png"
                alt="chrower_vorteil"
                class="w-full h-auto"
              />
            </div>
            <h2 class="my-4 text-white font-medium">
              Individuelle Vorschläge für eine optimierte Tagesplanung
            </h2>
          </div>
        </div>
      </section>
      <div class="">
        <img
          src="/images/bogen.png"
          alt="chrower_bogen"
          class="w-full h-auto"
        />
      </div>
    </section>
    <section class="font-headline">
      <div
        class="lg:bg-curve-background bg-newsletter bg-no-repeat bg-left lg:bg-contain bg-cover flex w-full justify-end py-14 xl:pb-20 lg:pt-6 justify-items-end"
      >
        <div
          class="flex flex-col items-center lg:items-start w-full pt-10 pb-16 xl:py-0 lg:w-2/3 pl-12 pr-12 lg:pr-32"
        >
          <h1
            class="mt-8 mb-2 max-w-full text-3xl font-medium text-center lg:text-left text-article-headline"
          >
            Wie wird deine Leistungskurve bestimmt?
          </h1>
          <hr class="border-0 bg-dividercolor mb-4 h-1 w-32" />
          <p
            class="mt-1 lg:mt-4 m-auto leading-loose mb-6 text-center lg:text-left text-article font-sans"
          >
            Deine Leistungskurve berechnen wir mit unserer neuen Trackingapp
            Chrower. Während du schläfst, können wir die benötigten Werte
            mittels deines Smartphones erheben. In Kombination mit einem
            Fitnesstracker können wir schon nach einer Analysezeit von rund
            einer Woche, mit Hilfe wissenschaftlich belegter Fakten, deine
            persönliche Leistungskurve bestimmen.
          </p>
          <button
            onclick="scrollToBottom()"
            class="max-w-xs m-auto lg:ml-0 bg-green-800 text-white font-semibold hover:text-white py-2 px-4 border rounded-md border-transparent shadow-2xl"
          >
            Mehr Infos
          </button>
        </div>
      </div>
    </section>

    <section
      class="font-headline container max-w-6xl md:m-auto mr-auto ml-auto mt-auto mb-4 flex flex-col md:flex-row sm:items-center"
    >
      <div
        class="w-full md:w-1/2 flex flex-col justify-center items-start px-6 pb-4 pt-8 md:py-8 md:px-8 lg:items-start"
      >
        <h1 class="text-white mb-2 font-medium text-article-headline">
          Chronotypen
        </h1>
        <hr class="border-0 bg-dividercolor mb-2 h-1 w-32" />
        <p class="leading-normal mb-4 text-white text-article font-sans">
          In der Chronobiologie wird unter den Chrontypen unterschieden zwischen den Morgentypen („Lerchen“) und den Abendtypen („Eulen“), während die meisten Menschen als moderate oder Neutraltypen dazwischenliegen. Diese Chronotypen unterscheiden sich nicht nur hinsichtlich der bevorzugten Schlaf- und Wachzeiten, sondern auch im Bezug zur täglichen Schwankung der Leistungsfähigkeit. In Experimenten wurde gezeigt, dass Menschen bei Aufgaben in einem optimalen Zeitfenster in Bezug zu ihrem Chronotyp eine höhere Leistungsfähigkeit verfügen, als zu nicht-optimalen Zeiten.
        </p>
      </div>
      <div
        class="w-full md:w-1/2 flex flex-col justify-between md:justify-center content-start p-2 md:p-8 md:items-start"
      >
        <div
          class="flex items-start sm:border-r md:border-b md:border-r-0 border-gray-200 p-4 w-full md:w-auto"
        >
          <div>
            <h2
              class="text-white mb-1 text-black font-medium text-article-headline"
            >
              Forschung
            </h2>
            <hr class="border-0 bg-dividercolor mb-2 h-1 w-32" />
            <p class="text-white leading-normal text-article font-sans">
              In Kooperation mit dem Lehrstuhl „Digital Health“ der Friedrich-Alexander-Universität Erlangen-Nürnberg erarbeiteten wir das wissenschaftlich verifizierbare Grundkonzept von Chrower. Die aus dieser Zusammenarbeit gewonnen Erkenntnisse stellen wir dir mit unserer App zur Verfügung.
            </p>
          </div>
        </div>
        <div class="flex items-start p-4 w-full md:w-auto">
          <div class="">
            <h2
              class="text-white mb-1 text-black font-medium text-article-headline"
            >
            Messung
            </h2>
            <hr class="border-0 bg-dividercolor mb-2 h-1 w-32" />
            <p class="text-white leading-normal text-article font-sans">
              Um eine fundierte Messung deines individuellen Chronotypen zu ermöglichen, nutzen wir verschiedene Messpunkte aus deinem Smartphone und Wearable. Unter anderem verwenden wir deinen Puls, deine Herzratenvariabilität, deine Bewegungsaktivität sowie dein Feedback.
            </p>
          </div>
        </div>
      </div>
    </section>
    <section class="font-headline m-auto text-center">
      <div class="bg-newsletter pt-12 pb-2">
        <label
          for="tagline"
          class="uppercase tracking-wide font-bold text-gray-700"
          >Voraussetzungen</label
        >
        <hr class="border-0 mx-auto bg-dividercolor mt-2 m-4 h-1 w-32" />
        <h1 class="mt-2 mb-4 max-w-mds m-auto font-sans">
          Fitness Tracker mit Schlafanalyse Funktion - kompatibel mit
        </h1>
        <div class="flex flex-wrap mx-auto justify-between items-start">
          <div
            class="w-full sm:w-1/2 md:w-1/4 flex flex-col items-center justify-center p-4"
          >
            <div class="w-14 h-14 rounded-full mr-4" alt="">
              <img
                src="/images/garmin_logo_2006.svg"
                alt="chrower_garmin_log"
                class="object-fill w-full h-12"
              />
            </div>
          </div>
          <div
            class="w-full sm:w-1/2 md:w-1/4 flex flex-col items-center justify-center p-4"
          >
            <div class="w-14 h-14 rounded-full mr-4" alt="">
              <img
                src="/images/fitbit.svg"
                alt="chower_fitbit_logo"
                class="object-fill w-full h-12"
              />
            </div>
          </div>
          <div
            class="w-full sm:w-1/2 md:w-1/4 flex flex-col items-center justify-center p-4"
          >
            <div class="w-14 h-14 rounded-full mr-4" alt="">
              <img
                src="/images/apple-watch-edition.svg"
                alt="chower_apple_watch_logo"
                class="object-fill w-full h-12"
              />
            </div>
          </div>
          <div
            class="w-full sm:w-1/2 md:w-1/4 flex flex-col items-center justify-center p-4"
          >
            <div class="w-14 h-14 rounded-full mr-4" alt="">
              <img
                src="/images/xiaomi.svg"
                alt="chower_xiaomi_logo"
                class="object-fill w-full h-12"
              />
            </div>
          </div>
        </div>
        <h1 class="mt-4 mb-4 font-medium max-w-mds m-auto font-sans">
          und noch mehr.
        </h1>
      </div>
    </section>
    <section class="font-sans text-left">
      <div
        class="bg-newsletter flex justify-center mx-auto pb-20 lg:pt-20 pt-8 px-4"
      >
        <div class="md:max-w-md max-w-xs w-full">
          <h1 class="font-medium text-2xl">Sei als Erste*r dabei!</h1>
          <h6 class="border-0 bg-dividercolor my-4 h-1 w-32"></h6>
          <% if(locals.signup_success == false && locals.signup_error == false){ %>
          <div>
          <p class="break-word text-gray-700 text-sm mt-2 mb-6">
            Registriere dich jetzt als Beta-User und ermittle als Erste*r deine
            individuelle Produktivitätskurve!
          </p>
          <form
            method="POST"
            action="/"
            accept-charset="utf-8"
            class="font-headline text-sm rounded mx-auto"
          >
            <div class="flex flex-row items-center py-2 border-transparent">
              <input class="mr-4" type="checkbox" required id="checkbox" />

              <label for="checkbox">
                <p class="font-headline text-gray-700">
                  Mit meiner Registrierung bestätige ich, die
                  <a href="/datenschutz" target="blank" class="underline"
                    >Datenschutzhinweise</a
                  >
                  zur Kenntnis genommen zu haben.
                </p>
              </label>
            </div>
            <div
              class="relative border rounded mb-4 shadow appearance-none label-floating"
            >
              <input
                class="w-full py-2 px-3 text-gray-700 leading-normal rounded"
                id="name"
                type="text"
                placeholder="Name *"
                name="name"
                required
                type="text"
                pattern="[a-zA-Z\u00C0-\u00D6\u00D8-\u00F6\u00F8-\u00FF\- ]+"
              />
              <label
                class="absolute block text-gray-700 top-0 left-0 w-full px-3 py-2 leading-normal"
                for="name"
              >
              </label>
            </div>
            <div
              class="relative border rounded mb-4 shadow appearance-none label-floating"
            >
              <input
                class="w-full py-2 px-3 text-gray-700 leading-normal rounded"
                id="email"
                placeholder="E-mail Addresse *"
                name="email"
                required
                type="email"
                pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{​​​​​2,}​​​​​$"
              />
              <label
                class="absolute block text-gray-700 top-0 left-0 w-full px-3 py-2 leading-normal"
                for="email"
              >
              </label>
            </div>
            <div class="flex items-center justify-between mt-6">
              <button
                class="max-w-xs bg-green-800 text-white font-medium hover:text-white py-2 px-4 border rounded-md border-transparent shadow-2xl"
                type="submit"
              >
                ABSENDEN
              </button>
            </div>
          </form>
        </div>
        <% } %> 
        <% if(locals.signup_success == true){ %>
        <div class="border rounded-lg p-4 border-teal-600 bg-green-100 my-2">
          <p class="reak-word text-gray-700 text-sm">Vielen Dank für deine Registrierung. In Kürze erhälst du von uns eine Bestätigungs E-Mail mit weiteren Informationen.</p>
        </div>
        <div>
        <% } %> <% if(locals.signup_error == true){ %>
        <div class="border rounded-lg p-4 border-orange-600 bg-red-100 my-2">
          <p class="reak-word text-red-700 text-sm">Ups! Leider ist bei der Anmeldung etwas schiefgelaufen. Bitte versuche es nochmals.</p>
        </div>
        <form method="GET"
        action="/">
        <button
          class="max-w-xs bg-green-800 text-white font-medium hover:text-white py-2 px-4 border rounded-md border-transparent shadow-2xl"
          type="submit"
        >
        neu versuchen
        </button>
      </form>
        </div>
        <% } %>
        </div>
      </div>
    </section>
    <footer class="font-headline bg-transparent text-white py-8 px-4">
      <div
        class="mx-auto max-w-xl overflow-hidden flex justify-between items-center"
      >
        <ul
          class="text-sm text-gray-700 list-none w-full p-0 flex flex-col md:flex-row items-center justify-center"
        >
          <li>
            <a
              href="https://codecamp-n.com/"
              class="inline-block py-2 px-3 text-gray-500 hover:text-gray-400 no-underline"
              >© CodeCamp:N GmbH</a
            >
          </li
          >
          <li>
            <a
              href="/"
              class="inline-block py-2 px-3 text-gray-500 hover:text-gray-400 no-underline"
              >Home</a
            >
          </li>
          <li>
            <a
              href="/impressum/"
              class="inline-block py-2 px-3 text-gray-500 hover:text-gray-400 no-underline"
              >Impressum</a
            >
          </li>
          <li>
            <a
              href="/datenschutz/"
              class="inline-block py-2 px-3 text-gray-500 hover:text-gray-400 no-underline"
              >Privacy Policy</a
            >
          </li>
        </ul>
      </div>
    </footer>
  </body>
  <script>
    function scrollToBottom() {
      window.scrollTo({ top: document.body.scrollHeight, behavior: "smooth" });
    }

    var _signup_error = '<%= locals.signup_error %>';
    var _signup_success = '<%= locals.signup_success %>';
    $(document).ready(function(){
        if(_signup_error == 'true' || _signup_success == 'true')
        {
          scrollToBottom();
        }
    });
  </script>

</html>
